.header {
  align-items: center;
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.shopping-cart-size {
  background-color: whitesmoke;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  padding: 15px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 42px;
  top: 36px;
}
