.search-block {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.search-bar {
  height: 30px;
  margin-bottom: 20px;
  width: 400px;
}

.items-list {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
}
