body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  display: flex;
}

.aside-iten {
  display: block;
}

.search-block {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.search-bar {
  width: 400px;
  height: 30px;
  margin-bottom: 20px;
}

.product.image {
  width: 50px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  margin: 5px;
}

.itens-list {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
}
